.section {
  /* display: flex; */
  /* justify-content: space-around; */
  padding-left: 24px;
  padding-right: 24px;
}

@media screen and (min-width: 480px) {
  .section {
    min-width: "calc(100vh - 50px)";
  }
}
@media screen and (min-width: 768px) {
  .section {
    min-width: "calc(100vh - 50px)";
  }
}
@media screen and (min-width: 1200px) {
  .section {
    width: 930px;
  }
}
